[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
bcrypt = "==4.1.2"
blinker = "==1.7.0"
bson = "==0.5.10"
click = "==8.1.7"
dnspython = "==2.6.1"
flask = "==3.0.2"
flask-bcrypt = "==1.0.1"
flask-login = "==0.6.3"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.3"
markupsafe = "==2.1.5"
pymongo = "==4.6.2"
python-dateutil = "==2.8.2"
python-dotenv = "*"
six = "==1.16.0"
werkzeug = "==3.0.1"
zipp = "==3.17.0"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"
